{% extends "Base/auth.html" %}
{% block title %} SIGN UP {% endblock %}
{% block content %}
{{ super() }}

<div class="container">
    <div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
        <img src="{{ url_for('static', filename='plgfat.jpg')}}" class="card-img avatar" alt="Avatar">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title"> SIGN UP </h5>
            <form class="card-text" action="{{ url_for('sign_up_post') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="{{ url_for('login') }}" class="btn btn-secondary mt-3">Login here</a></p>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}