{% extends "Base/auth.html" %}
{% block title %} SIGN UP {% endblock %}
{% block content %}
{{ super() }}

<div class="container">
    <div class="row">

        <div class="col-md-6 left-side">
            <img src="{{ url_for('static', filename='plgfat.jpg') }}" class="img-fluid avatar" alt="Avatar">
        </div>

        <div class="col-md-6 right-side">
            <div class="form-container">
                <h3 class="text-center">SIGN UP</h3>
                <form action="{{ url_for('sign_up_post') }}" method="post">
                    <label for="username"><b>Username:</b></label>
                    <input type="text" id="username" name="username" required>

                    <label for="password"><b>Password:</b></label>
                    <input type="password" id="password" name="password" required>

                    <button type="submit" class="btn btn-secondary">Register</button>
                </form>
                <p class="text-center mt-3">Already have an account? <a href="{{ url_for('login') }}" class="btn btn-secondary">Login here</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}