.title{
    color: rgb(7, 7, 138);
}

/* Images*/
.avatar{
    padding: 50px;
}
.imgs-one{
    left: 50px;
}
.imgs-three{
    left: 100px;
}
.first-img{
    padding: 5px;
}
.second-img {
    position: absolute;
    right: 50;
    padding: 5px;
}

/* this is body index.html*/
.heading-title{
    text-align: center;
    padding: 50px;
}
.container-blog{
    padding: 100px;
}