{% extends "Base/layout.html" %}
{% block title %} Edit Note {% endblock %}
{% block content %}
{{ super() }}
<div class="container mt-4">
    <h2>Edit Note</h2>
    <form method="POST" action="{{ url_for('update_note', note_id=note[0]) }}">
        <div class="mb-3">
            <label for="note_title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="note_title" name="note_title" value="{{ note[1] }}" required>
        </div>
        <div class="mb-3">
            <label for="note_content" class="form-label">Content:</label>
            <textarea class="form-control" id="note_content" name="note_content" required>{{ note[2] }}</textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Update Note</button>
        <a href="{{ url_for('note') }}" class="btn btn-primary">Cancel</a>
    </form>
</div>
{% endblock %}
